extends layout

block content
	.container
		.row
			.col-sm-12
				a(id='test',href='/auth/facebook', class='btn btn-primary') Signup using Facebook
				| 
				a(id='test',href='/auth/twitter', class='btn btn-info') Signup using Twitter
